// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$light-orange: #FBB13C;
$strong-orange: #E85D04;
$transparent-black: rgba(0,0,0,0.7);
$grey-stroke: #666666;
$bg-dark: #1D1C22;
$grey-paragraph: #808080;
$orange-gradient: linear-gradient(90deg, rgba(232,93,4,1) 0%, rgba(251,177,60,1) 100%);

