#messages {
  margin-top: 30px;
}

#chat-title {
  margin-bottom: 30px;
  text-align: center;
}

.background-grey-chat {
  display: flex;
  background: $bg-dark;
  margin: 0px 0px 15px 0px;
  width: 100%;
  align-items: center;
  padding: 10px 0px;
}

.message_content {
  flex-grow: 1;
  margin: 0;
  input {
    border-radius: 25px;
  }
}

.paper-plane {
  background: none;
  color: white;
  font-size: 29px;
  border: none;
  margin-top: 5px;
}

// BUBBLE OF OTHER USERS -----------------------------

.message-container {
  background-color: #323136;
  margin-bottom: 10px;
  padding: 8px;
  border-radius: 5px;
  width: 80%;
  p {
    color: white;
  }
}

// .message-container:after {
// 	content: '';
// 	position: absolute;
// 	left: 0;
// 	top: 50%;
// 	width: 0;
// 	height: 0;
// 	border: 10px solid transparent;
// 	border-right-color: #333237;
// 	border-left: 0;
// 	border-bottom: 0;
//   margin-top: -5px;
//   margin-right: -10px;
// }


// BUBBLE OF CURRENT USER ----------------------------

.message-container {
  &.is-author {
    background-color: #cccccc;
    margin-left: auto;
    position: relative;
    p {
    color: black;
    font-weight: bold;
    }
  }
}

.message-container:after {
  &.is-author {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-left-color: #cccccc;
    border-right: 0;
    border-bottom: 0;
    margin-top: -5px;
    margin-right: -10px;
  }
}

// ------------------------------------------

.message-container:last-child {
  margin-bottom: 70px;
}

.author {
  color: $grey-paragraph;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
}

.input-message {
  position: fixed;
  bottom: 35px;
  left: 3%;
  right: 3%;
  border-radius: 5px;
  .form-control {
    height: 50px;
  }
}
