

.container-friendship {
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
}

.friendship-name {
  color: $grey-paragraph;
}

.col-4.friendship {
  position: relative;
}

#favorite-star{
  position: absolute;
  position: absolute;
  bottom: 27px;
  font-size: 26px;
  right: 16px;
  color: $light-orange;
}

.dashboard-title {
  position: relative;
  height: 75px;
  .avatar-friend {
    position: absolute;
    bottom: 35px;
    right: 0px;
    width: 44px;
  }
}
