div.event_friends {
  input[type='checkbox'] {
    display: none;
  }
  input[type='checkbox']:checked + label .avatar-friend {
    // @extend .avatar-bordered;
    width: 80px;
    height: 80px;
  }
}

.edit_event .form-check-label.boolean.optional {
    display: none;
}

a.mb-2.btn-cancel-plan {
    color: $light-gray;
}

.box-btn-share-cancel-plan .btn-cancel-plan {
  width: 100%;
}

.swal-footer {
  text-align: center;
}
