.content-when {

}
.tab-centered {
  .toggle-nav {
    margin: 0 auto;
  }
}

.left-tab a {
  border-radius: 10px 0px 0px 10px !important;
}

.right-tab a {
  border-radius: 0px 10px 10px 0px !important;
}

