.event-show-details-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid white;
  img {
    width: 60px;
    height: 60px;
  }
}

.event-show-details-box-modal {
  p {
    font-size: 15px;
  }
}

.event-show-address-hour-box {
  text-align: center;
  padding: 0px 10px;
}

#event-address {
  margin-top: 5px;
}

.event-show-timer {
  text-align: center;
  margin-top: 15px;
  padding-bottom: 25px;
  border-bottom: 1px solid white;
  p {
    color: $grey-paragraph;
  }
  .timer {
    font-size: 75px;
    height: 80px;
    background: linear-gradient(to bottom, $light-orange 40%, $strong-orange 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  h4 {
    margin: 25px 0px 0px 0px;
    font-size: 30px;
    background: linear-gradient(to top, #DF540B, #F9C01D);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.event-show-timer-modal {
  p {
    font-size: 16px;
  }
}

.outline-none:focus {
  outline: none;
}

.show-buttons-container{
  margin-top: 30px;
  margin-bottom: 20px;
}

.show-buttons-edit-invitations {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  a {
    width: 100%;
    box-shadow: 2px 2px 5px black;
  }
}

.show-buttons-share-delete {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  a, p {
    text-align: center;
    font-size: 45px;
    width: 45%;
  }
}

.show-buttons-share-delete-modal {
  margin-top: 35px;
}



















#event-show-title {
  text-align: center;
}

.infos-event-show-box {
  display: flex;
  font-size: 16px;
  padding: 20px 0px 0px 0px;
  margin-bottom: 25px;
  i {
    color: $grey-paragraph;
  }
}

.box-infos {
  position: relative;
  left: 40px;
  text-align: left;
  height:40px;
}

.box-address{
  position: relative;
  top: 5px;
  p {
    font-weight: 400 !important;
  }
}
.box-date {
  position: relative;
  top: 18px;
  font-weight: 300;
}


// #timer-show {
// padding-top: 45px;
// }

// p#event-address {
//   width: 205px;
// }

.emoji-chat {
  position: relative;
  font-size: 40px;
  left: 165px;
  bottom: 35px;
  width: 40px;
}

#emoji-chat-info-window {
  position: relative;
  font-size: 40px;
  left: 157px;
  bottom: 10px;
  width: 40px;
}

.event-description-box {
  margin-top: 15px;
  font-size: 13;
  color: $light-gray;
  text-align: center;
}

.event-description-box {
    margin-bottom: 15px;
}

.manage-event-buttons {
  display: flex;
  justify-content: space-evenly;
  margin: 20px 0px;
  a {
    font-size: 14px;
    p {
      font-size: 14px;
    }
  }
}

.mapboxgl-map {
    font-family:$body-font;
}

.window-top {
    height: 15px;
    background: $bg-dark;
    top: 0;
    z-index: 100;
    border-radius: 20px 20px 0 0;
    width: 100%;
    position: fixed;
}

.window-top:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 169px;
    height: 1px;
    width: 10%;
    border-bottom: 3px solid white;
}



