#event-show-title {
  text-align: center;
}

.infos-event-show-box {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: 1px solid white;
  padding: 20px 0px;
}

.chat-event-box {
  border-bottom: 1px solid white;
  padding: 20px 0px;
}

.chat-event-box-link {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.chat-event-box a i {
  font-size: 40px;
  color: white;
}

.friends-box {
  display: flex;
  height: 70px;
  // margin-bottom: 40px;
}

.friends-box img {
  position: absolute;
}

.friends-box p {
  position: relative;
  top: 35px; // WHY IS IT WORK WITH TOP AND NOT BOTTOM?
  z-index: 5;
  font-size: 20px;
}

.manage-event-buttons {
  display: flex;
  justify-content: space-evenly;
  margin: 20px 0px;
  a {
    font-size: 10px;
    p {
      font-size: 10px;
    }
  }
}
