#event-show-title {
  text-align: center;
}

.infos-event-show-box {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: 1px solid white;
  padding: 20px 0px;
  i {
    color: #dcdcdc;
  }
}

.chat-event-box {
  border-bottom: 1px solid white;
  padding: 20px 0px;
}

.chat-event-box-link {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.chat-event-box a i {
  font-size: 40px;
  color: white;
}

.event-description-box {
  margin-top: 15px;
  i {
    color: #dcdcdc;
  }
}

.friends-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 15px;
}

.emoji-avatar-friend {
  margin-right: 3px;
}

// .friends-box img {
//   position: absolute;
// }

// .friends-box p {
//   position: relative;
//   top: 35px; // WHY IS IT WORK WITH TOP AND NOT BOTTOM?
//   z-index: 5;
//   font-size: 20px;
// }

.manage-event-buttons {
  display: flex;
  justify-content: space-evenly;
  margin: 20px 0px;
  a {
    font-size: 10px;
    p {
      font-size: 10px;
    }
  }
}
