// Specific CSS for your home-page
#pong-title {
  z-index: 5;
  top: 15px;
  text-align: center;
  width: 100%;
  h1 {
    background: linear-gradient(to top, #DF540B, #F9C01D);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Comfortaa', cursive;
    letter-spacing: 0.15rem;
    font-weight: bold;
  }
}

.background-shadow {
  height: 115px;
  z-index: 3;
  top: 0;
  width: 100%;
  background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
}

.mapboxgl-ctrl-geocoder {
  width: 395px !important;
}

.notifications_center {
  margin-top: 1vh;
  margin-left: 1vh;
  position: absolute;
  z-index: 5;
  width: 15%;
  height: 7.5%;
  background-image: url(https://res.cloudinary.com/dtadudbob/image/upload/v1607959328/logo_copy_h7xc6b.png);
  background-size: cover;
  #link {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .display {
    position: absolute;
    margin-left: 35px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: #b91c1c linear-gradient(180deg, #610d0d 0%, rgba(0, 0, 0, 0) 25%);
    text-align: center;
    color: white;
    font-size: 10px;
  }
  .notif_effect {
    animation: bounce 0.5s ;
    animation-direction: alternate;
    animation-iteration-count: infinite;
  }
}
  
@keyframes bounce{
 0% { transform: translateY(0); }
  100% { transform: translateY(-5px); }
}


