<div class="navbar">
  <%= link_to root_path, class: "navbar-icon-box #{"navbar-icon-box-active" if controller.controller_name == "pages" && action_name == "home"}" do %>
    <i class="fas fa-map-marked-alt"></i>
    <p>Home</p>
  <% end %>

  <%= link_to events_path, class: "navbar-icon-box #{"navbar-icon-box-active" if controller.controller_name == "events"}" do %>
    <i class="far fa-calendar-alt"></i>
    <p>Events</p>
  <% end %>

  <%= link_to dashboard_path, class: "navbar-icon-box #{"navbar-icon-box-active" if controller.controller_name == "pages" && action_name == "dashboard"}" do %>
    <i class="fas fa-users"></i>
    <p>Friends</p>
  <% end %>
</div>

<%# && !action_name == "" %>


