<div class="navbar">
  <%= link_to root_path, class: "navbar-icon-box icon-box-active" do %>
      <i class="fas fa-map-marked-alt"></i>
      <p>Home</p>
  <% end %>

  <%= link_to events_path, class: "navbar-icon-box" do %>
      <i class="far fa-calendar-alt"></i>
      <p>Events</p>
  <% end %>
  
  <%= link_to dashboard_path, class: "navbar-icon-box" do %>
      <i class="far fa-user"></i>
      <p>Profile</p>
  <% end %>
</div>
