<div class="content-container">

  <div>
    <div class="form-event-title">
        <%# POURQUOI LE DELETE RENVOIE VERS ROOT? %>
        <%= link_to event_path(@event), method: :delete, data: { confirm: "Are you sure?" } do %>
        <i class="fas fa-chevron-left"></i>
      <% end %>
    </div>

    <div class="text-center">
      <h1>What are you up to?</h1>
      <p>Choose wisely... we decline all responsability if the situation gets out of control.</p>
    </div>
  </div>

  <%= simple_form_for @event, url: update_what_event_path(@event) do |f| %>
    <%#= f.input :emoji, as: :radio_buttons,
    collection: Event::EMOJI %>

    <%= f.input :emoji,
      as: :radio_buttons,
      wrapper_tag: :fieldset,
      label_method: lambda { |emoji| render "events/emoji_label", emoji: emoji },
      collection: Event::EMOJI.to_a.map(&:reverse),
      input_html: { multiple: false },
      item_wrapper_class: :radio,
      # selected: Event::EMOJI.first,
      include_hidden: false %>

    <div class="background-grey fixed-bottom">
      <%= f.submit "Next 👉", class: "button-next d-none" %>
    </div>
  <% end %>
</div>
