<h1>Where does it take place?</h1>

<%= simple_form_for @event, url: update_address_event_path(@event) do |f| %>
  <%= f.input :address %> <%# dont forget to get the current location + add geocoder and lat & lgt %>
  <%= f.submit "next" %>
<% end %>
