<div class="content-container">
  <div class="text-center">
    <div>
      <div class="form-event-title">
        <%= link_to edit_when_event_path(@event) do %>
          <i class="fas fa-chevron-left"></i>
        <% end %>
      </div>

      <div class="mb-3">
        <h1>Invite your friends!</h1>
        <p>Pick them wisely ...</p>
      </div>
    </div>

    <p class ="border-grey">Search group or fiends 🔎</p>
    <p>Friends can joins with friends #toggle</p>

    <%= simple_form_for @event, url: update_friends_event_path(@event) do |f| %>
      <%= f.input :friends,
        as: :check_boxes,
        label_method: lambda { |user| render "events/user_label", user: user },
        collection: @friends,
        checked: @event.guests.pluck(:id),
        input_html: {class: 'd-none radio-btn'},
        item_wrapper_class: :radio,
        # include_blank: false,
        include_hidden: false %>

      <div class="background-grey sticky-bottom">
        <%= f.button :submit, "💥 Share my plan 💥", class: "button-next" %>
      </div>
    <% end %>
  </div>
</div>
