<div class="content-container text-center">

  <div class="pages-title">
    <div class="d-flex align-items-center justify-content-center">
      <div class="back-button-title">
        <%= link_to root_path do %>
          <i class="fas fa-chevron-left text-white"></i>
        <% end %>
      </div>

      <div class="box-title">
        <h1>My events</h1>
      </div>

      <div class="empty-box-title"></div>
    </div>

    <p>Your ongoing events, your upcoming and even those passed.</p>
  </div>

  <% unless @ongoing_events.empty? %>
    <div class="content-guest">
      <h2 class="text-white-title border-bottom">Ongoing</h2>
      <% @ongoing_events.each do |event| %>
        <%= render 'events/card', event: event %>
      <% end %>
    </div>
  <% end %>

  <% unless @upcoming_events.empty? %>
    <div class="content-guest mt-3">
      <h2 class="text-white-title border-bottom">Upcoming</h2>
      <% @upcoming_events.each do |event| %>
        <%= render 'events/card', event: event %>
        </div>
      <% end %>
    </div>
  <% end %>


<% unless @past_events.empty? %>
  <div class="content-guest mt-3">
    <h2 class="text-white-title border-bottom">Past events</h2>
      <% @past_events.each do |event| %>
        <%= render 'events/card', event: event %>
      <% end %>
    </div>
  <% end %>

</div>

