<h1><%= "Hello #{current_user.first_name}!" %></h1>

<%= link_to "Back", root_path %>

<%= link_to "Access to my events", events_path %>

<%= link_to "Log out", destroy_user_session_path, method: :delete %>
