<div class="map-container position-relative">
  <div class="position-absolute button-wrapper">
    <div class="gradient-box">
      <%= link_to "Share my plan" , events_path, method: :post, class: "text-button" %>
    </div>
  </div>

  <div id="map"
      style="width: 100vw; height: 100vh;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>

<%= link_to "propose a plan", events_path, method: :post %>
