<h1>PONG</h1>

<% @hosted_events.each do |event| %>
  <h2>Event : <%= event.emoji %></h2>
  <p> <%= event.user.first_name %> </p>
<% end %>

<% @invited_events.each do |event| %>
  <h2>Event : <%= event.emoji %></h2>
  <p> <%= event.user.first_name %> </p>
<% end %>
