<div class="map-container position-relative">

  <div class="background-shadow position-absolute"></div>

  <div id="pong-title" class="position-absolute">
    <h1>PONG</h1>
     <% avatar_url = current_user.facebook_picture_url || "http://placehold.it/30x30" %>
    <%= image_tag avatar_url, class: "avatar-home-page", "data-toggle" => "dropdown" %>
  </div>

  <div class="position-absolute button-wrapper">
    <div class="gradient-box">
      <%= link_to "Share my plan" , events_path, method: :post, class: "text-button" %>
    </div>
    </div>
  </div>

  <div id="map"
      style="width: 100vw; height: 100vh;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
